{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1 class="mb-2 mt-2">このサイトについて</h1>
    <h2>概要</h2>
        <p>本サイトは楽天のランキング内の商品がAmazonで販売されている同商品と比較して"お得なのか？"を双方のサイトを確認する手間なく確認することを目的として作成されました。</p>
    <h2>機能</h2>
        <p>楽天買い回りマラソンやSPUポイント倍率など、個々人に紐づくポイント還元倍率は上部のポイント計算ボックスに数値を入れることで、商品のポイント還元後の金額欄に反映されます。</p>
    <h2>免責事項</h2>
        <p>本サイトに記載の価格やランキング等の情報については、妥当性や正確性を保証するものではありません。<br>本サイトを利用することで生じた、いかなる損害について当方が責任を負うことはありません。</p>
    <h2>プライバシーポリシー</h2>
        <h4>Google Analyticsでのデータ利用について</h4>
            <p>本サイトではサービス向上の目的でGoogle Analyticsを利用しています。</p>
    <h2>お問い合わせ</h2>
        <p>下記フォームよりご連絡ください。<br>※内容によっては回答やお返事ができないものもございます。</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdEJzN_S5lZG23aQB6jlXm56R2PerIGeGxATZd1OrkcpkUa0w/viewform?embedded=true" width="640" height="992" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
        {% endblock %}